<header class="header">
    <button (click)="getToApp()">SKIP</button>
</header>
<swiper [config]="config">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="inner-slide">
                <img [src]="img1" >
                <h2>Mind Plan</h2>
                <p>
                    Mind Plane follows the Tony Buzan approach, which uses the evocative power of images and colors to make the memorization of concepts easier, stimulating creativity and mental associations.
                </p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner-slide">
                <img [src]="img2" >
                <h2>Colors and images</h2>
                <p>
                    Colors and images of mind maps exploit brain characteristics to express concepts in a more effective and lasting way.
                </p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner-slide">
                <img [src]="img3" >
                <h2>Radial tree</h2>
                <p>
                    Hierarchical structure of mind maps exploits the radial geometry, which is divided on several levels and facilitates concept expressiveness.
                </p>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="inner-slide">
                <img [src]="img4" >
                <h2>Uses</h2>
                <p>
                    Mind Plan are particularly effective to learn or organize ideas, for example in educational or business contexts.
                </p>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

</swiper>
<footer class="footer">
    Application created by <a href="https://cedoor.dev/">Omar Desogus</a>, improved by <a href="http://rolyart.ro">rolyart</a>
</footer>

