swiper {
    height: calc(100vh - 54px);
    width: 100%;
    .swiper-slide{
        display:flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .inner-slide{
            padding:16px;
            max-width:760px;
            margin:auto;
            text-align:center;
            img{
                max-width:100%;
                margin:auto;
            }
            h2{
                color:#2C2D5C;
            }
            p{
                color:#777777;
            }
        }   
    }
}

.header{
   text-align: right; 
   position: fixed;
   right:0;
   z-index: 999;
   button{
     padding:16px;
     display:block; 
     text-decoration: none; 
     cursor: pointer;
     background-color: transparent;
     border:none;
     color:#007AFF;
     font-weight: bold;
   }

}

.footer{
    padding:16px;
    font-size:14px;
    border-top:1px solid #DDDDDD;
    text-align:center;
    color:#999999;
    a{text-decoration: none;color:#2C2D5C;}
}

