div.sliders-panel {

    .node-font-size.mat-form-field {
        z-index: 2;
        position: absolute;
        top:50%;
        width:96px;
        left:16px; 
        height:56px;
        text-align: center;
    }

   


    .mat-slider-horizontal {
        z-index: 2;
        position: absolute;
        top: 50%;
    }

    .font-size {
        left: 32px;
    }

    .image-size {
        left:8px;
    }

}



